@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

section{
    width: 100%;
}

.nav-bar{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.logo{
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    width: 187px;
    height: 58px;
    position: absolute;
    top: 17px;
    left: 136px;
}

.buttons{
    width: 300px;
    height: 52px;
    padding: 10px;
    display: flex;
    position: sticky;
    left: 948px;
    gap: 45px;
}

.button-login{
    border: none;
    color: #96BB7C;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
}

.button-join-us{
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-weight: 700;
    background-color: #96BB7C;
    width: 137px;
    border-radius: 5px;
    cursor: pointer;
}

header{
    background-color: #DDF4FF;
    width: 100%;
    height: 826px;
}

.info-banner{
    border-style: solid;
}

.caja-info{
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0px 50px 0px 132px;
    padding: 100px;
}

.h5info{
    width: 300px;
    height: 24px;
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #96BB7C;
}

.h1info{
    width: 542px;
    height: 160px;
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    color: #252B42;
}

.h4info{
    width: 458px;
    height: 60px;
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #737373;
}

.button-get{
    width: 193px;
    height: 52px;
    border-radius: 5px;
    padding: 15px, 40px, 15px, 40px;
    gap: 10px;
    color: white;
    background-color: #96BB7C;
    border: none;
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}

.button-learn{
    width: 162px;
    height: 52px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 15px, 40px, 15px, 40px;
    gap: 10px;
    border-color: #96BB7C;
    color: #96BB7C;
    background-color: transparent;
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-weight: 700;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 104px;
    max-width: 1170px;
    height: 682px;
    position: absolute;
}

.elipse{
    position: absolute;
    top: 111.66px;
    left: 649.64px;
}

.img1{
    width: 532.15px;
    height: 622.04px;
    position: absolute;
    left: 635.74px;
}

.img2{
    width: 218.82px;
    height: 149.65px;
    position: absolute;
    top: 483px;
    left: 615.24px;
}

.img3{
    width: 196.24px;
    height: 183.53px;
    position: absolute;
    top: 278.12px;
    left: 1053.46px;
}

.img4{
    width: 162.35px;
    height: 81.88px;
    position: absolute;
    top: 237.18px;
    left: 587.98px;
}

.stats{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 264px;
    margin: 0 auto;
    width: 80%;
    gap: 50px;
}

div h1{
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #96BB7C;
}

div h5{
    font-family: Montserrat, sans-serif, Verdana, Geneva, Tahoma;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #252B42;
}

.stats div{
    width: 238px;
    height: 104px;
}

.get{
    background-color: #FFF2F3;
    width: 100%;
    height: 718px;
    padding: 50px;
}

.contenedor{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caja{
    background-color: white;
    width: 298px;
    height: 268px;
    padding: 35px 40px 35px 40px;
    gap: 20px;
}

.get h2{
    width: 700px;
    height: 50px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
    margin-left: 150px;
}

.icono{
    background-color: #FFF2F3;
    padding: 2rem 1.5rem;
    border-radius: 50%;
    z-index: 1;
}

.titlebox{
    width: 300px;
    height: 24px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
 
}

.content{
    width: 253px;
    height: 40px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;

    z-index: 1;
}

footer{
    background-color: #FAFAFA;
    width: 1519.2px;
    height: 74px;
    position: absolute;
    top: 1830px;
}

footer h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    position: absolute;
    left: 195px;
}

.iconof1{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 45px;
    left: 1070px;
    z-index: 1;
}

.iconof2{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 45px;
    left: 1115.5px;
    z-index: 1;
}

.iconof3{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 45px;
    left: 1158px;
    z-index: 1;
}